<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <form method="get" action="">
        <input type="text" name="search" hint="keywords" value="{{request.GET.search}}">
        <input type="submit">
    </form>
    <div id="map"></div>
    <script>
      function initMap() {
        let uluru = [
        {% for location in object_list %}
            {lat: {{location.latitude}}, lng: {{location.longitude}},
            title: "{{location.name}} ({{location.job_set.all.count}})", link: "/jobs/?location_id={{location.id}}"},
        {% endfor %}
        ];

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: -25.363, lng: 131.044}
        });
        uluru.forEach((l) => {
            let infowindow = new google.maps.InfoWindow({
              content: "<a href='"+l.link+"'>"+l.title+"</a>"
            });

            let marker = new google.maps.Marker({
              position: l,
              title: l.title,
              map: map
            });
             marker.addListener('click', function() {
              infowindow.open(map, marker);
            });
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADPDl5Olz4iXHTUBEOxeJaqRBVOwx0ICE&callback=initMap">
    </script>
  </body>
</html>